apiVersion: v1
kind: Pod
metadata:
  name: backend-pod
  labels:
    app: backend
spec:
  containers:
  - name: backend-container
    image: siddheshsomvanshi27/backend:latest
    ports:
    - containerPort: 8081
---
apiVersion: v1
kind: Pod
metadata:
  name: frontend-pod
  labels:
    app: frontend
spec:
  containers:
  - name: frontend-container
    image: siddheshsomvanshi27/frontend:latest
    ports:
    - containerPort: 80
